/*
============================================================
Factura.css
Sistema de Gestión de Citas Odontológicas
============================================================
*/


.factura-container {

    padding: 20px;

}



.factura-container h2 {

    margin-bottom: 20px;

    color: #123;

}



.factura-form {

    background: white;

    padding: 25px;

    border-radius: 12px;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 15px;

    box-shadow:
        0 2px 10px rgba(0,0,0,0.1);

}



.factura-form input,
.factura-form select {


    padding: 10px;

    border-radius: 6px;

    border: 1px solid #ccc;

    font-size: 14px;

}



.factura-form button {


    grid-column: span 2;

    background: #007f73;

    color: white;

    border: none;

    padding: 12px;

    border-radius: 6px;

    cursor: pointer;

    font-weight: bold;

}



.factura-form button:hover {

    background: #00665c;

}




.Factura-table {


    width: 100%;

    margin-top: 25px;

    border-collapse: collapse;

    background: white;

}



.Factura-table th {


    background: #007f73;

    color: white;

    padding: 10px;

}



.Factura-table td {


    padding: 10px;

    border-bottom: 1px solid #ddd;

}



.Factura-table button {


    background: #d9534f;

    color: white;

    border: none;

    padding: 6px 10px;

    border-radius: 5px;

    cursor: pointer;

}